<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>numcount</key>
		<string>68票</string>
		<key>icon</key>
		<string>icon_1.jpg</string>
		<key>fight</key>
		<string>89</string>
		<key>title</key>
		<string>钢铁侠</string>
	</dict>
	<dict>
		<key>numcount</key>
		<string>12票</string>
		<key>icon</key>
		<string>icon_2.jpg</string>
		<key>fight</key>
		<string>148</string>
		<key>title</key>
		<string>复仇者联盟</string>
	</dict>
	<dict>
		<key>numcount</key>
		<string>100票</string>
		<key>icon</key>
		<string>icon_3.jpg</string>
		<key>fight</key>
		<string>158</string>
		<key>title</key>
		<string>神盾局特工</string>
	</dict>
	<dict>
		<key>numcount</key>
		<string>34票</string>
		<key>icon</key>
		<string>icon_4.jpg</string>
		<key>fight</key>
		<string>55</string>
		<key>title</key>
		<string>弗瑞局长</string>
	</dict>
	<dict>
		<key>numcount</key>
		<string>125票</string>
		<key>icon</key>
		<string>icon_5.jpg</string>
		<key>fight</key>
		<string>88</string>
		<key>title</key>
		<string>钢铁侠2</string>
	</dict>
	<dict>
		<key>numcount</key>
		<string>637票</string>
		<key>icon</key>
		<string>icon_6.jpg</string>
		<key>fight</key>
		<string>39</string>
		<key>title</key>
		<string>鹰眼</string>
	</dict>
	<dict>
		<key>numcount</key>
		<string>63票</string>
		<key>icon</key>
		<string>icon_7.jpg</string>
		<key>fight</key>
		<string>98</string>
		<key>title</key>
		<string>小罗伯特 唐尼</string>
	</dict>
	<dict>
		<key>numcount</key>
		<string>128票</string>
		<key>icon</key>
		<string>icon_8.jpg</string>
		<key>fight</key>
		<string>123</string>
		<key>title</key>
		<string>雷神</string>
	</dict>
	<dict>
		<key>numcount</key>
		<string>22票</string>
		<key>icon</key>
		<string>icon_9.jpg</string>
		<key>fight</key>
		<string>148</string>
		<key>title</key>
		<string>钢铁侠3</string>
	</dict>
	<dict>
		<key>numcount</key>
		<string>104票</string>
		<key>icon</key>
		<string>icon_10.jpg</string>
		<key>fight</key>
		<string>48</string>
		<key>title</key>
		<string>一顿晚餐</string>
	</dict>
	<dict>
		<key>numcount</key>
		<string>21票</string>
		<key>icon</key>
		<string>icon_11.jpg</string>
		<key>fight</key>
		<string>199</string>
		<key>title</key>
		<string>齐心协力</string>
	</dict>
	<dict>
		<key>numcount</key>
		<string>128票</string>
		<key>icon</key>
		<string>icon_12.jpg</string>
		<key>fight</key>
		<string>34.5</string>
		<key>title</key>
		<string>钢铁侠4</string>
	</dict>
	<dict>
		<key>numcount</key>
		<string>361票</string>
		<key>icon</key>
		<string>icon_13.jpg</string>
		<key>fight</key>
		<string>67</string>
		<key>title</key>
		<string>美国队长</string>
	</dict>
	<dict>
		<key>numcount</key>
		<string>159票</string>
		<key>icon</key>
		<string>icon_14.jpg</string>
		<key>fight</key>
		<string>108</string>
		<key>title</key>
		<string>绿巨人</string>
	</dict>
</array>
</plist>
