<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>message</key>
		<string>m.jpg</string>
		<key>des</key>
		<string>中国中央电视台新闻联播</string>
		<key>times</key>
		<string>04分59秒</string>
	</dict>
	<dict>
		<key>message</key>
		<string>m.jpg</string>
		<key>des</key>
		<string>中国中央电视台新闻联播</string>
		<key>times</key>
		<string>04分59秒</string>
	</dict>
	<dict>
		<key>message</key>
		<string>m.jpg</string>
		<key>des</key>
		<string>中国中央电视台新闻联播</string>
		<key>times</key>
		<string>04分59秒</string>
	</dict>
	<dict>
		<key>message</key>
		<string>m.jpg</string>
		<key>des</key>
		<string>中国中央电视台新闻联播</string>
		<key>times</key>
		<string>04分59秒</string>
	</dict>
	<dict>
		<key>message</key>
		<string>m.jpg</string>
		<key>des</key>
		<string>中国中央电视台新闻联播</string>
		<key>times</key>
		<string>04分59秒</string>
	</dict>
	<dict>
		<key>message</key>
		<string>m.jpg</string>
		<key>des</key>
		<string>中国中央电视台新闻联播</string>
		<key>times</key>
		<string>04分59秒</string>
	</dict>
	<dict>
		<key>message</key>
		<string>m.jpg</string>
		<key>des</key>
		<string>中国中央电视台新闻联播</string>
		<key>times</key>
		<string>04分59秒</string>
	</dict>
</array>
</plist>
